{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block action %}
  {% if user_logged_in  %}
  <a href="{% url 'logout' %}" class="text-fg1 font-medium mr-4">Cerrar sesión</a>
  {% else %}
  <a href="{% url 'login' %}" class="text-fg1 font-medium mr-4">Iniciar sesión</a>
  <a
    href="{% url 'register' %}"
    class="bg-orange_slow text-fg0 font-medium py-2 px-4 rounded hover:bg-orange hover:text-fg1"
    >Registrarse</a
  >
  {% endif %}
{% endblock action %}

{% block content %}
  {% if user_logged_in %}
    {% include 'index/logged.html' %}
  {% else %}
    {% include 'index/no_logged.html' %}
  {% endif %}
{% endblock content %}
